.icons-container {
  display: flex;
  gap: 0.5rem;

  .icon-wrapper {
    display: flex;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 4px;
    padding: 0.2rem;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;

    &:hover {
      background-color: rgb(240, 240, 240);
    }
  }
}
